.ChessBoard-board {
	margin: 30px;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.ChessBoard-cell {
	height: 67px;
	width: 67px;
	text-align: center;
	user-select: none;
	position: relative;
}
 
.chessBoard-position {
	position: absolute;
	top: 15%;
	left: 10%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: bold;
	color: white;
	display: inline-block;
	z-index: 999; /* Ensure it appears above the chessboard */
}

.chessBoard-position.gray {
	color: gray;
}

.chessBoard-position.letter {
	top: 85%;
	left: 90%;
}  