.ChessTable-table {
    margin: 25px;
    justify-content: center;
    background-color: #285c24;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.ChessTable-cell {
    height: 60px;
    width: 60px;
    text-align: center;
    /* padding: 20px; */
}
 


